---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import BouncingBall from "../components/BouncingBall";
import BlurBackground from "@/components/BlurBackground";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {title} | GDG on Campus @ OSU
    </title>
    <link rel="icon" type="image/png" href="/GDG Logo Square.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script> 
  </head>
  <body class="flex flex-col min-h-screen bg-gray-50">
    <BlurBackground />
    <BouncingBall client:only />
    <Navigation />
    <main class="flex-grow container mx-auto px-4 py-8">
      <slot />
    </main>
    <Footer class="mt-auto bg-google-blue-500 text-white py-8" />
  </body>
</html>
